<!---the model that the view is receiving data from-->
@model LoginModel

@{
    ViewData["Title"] = "Agents";
}

<table class="table">
    <thead>
        <tr>
            <th>
                Username <!---DisplayNAMEFor displays the column name-->
            </th>
            <th>
                Password
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

            <tr>
                <td>
                    @Html.DisplayFor(model => model.UserName)    <!---DisplayFOR displays the column contents-->
                </td>
                <td>
                    @Html.DisplayFor(model => model.Password)
                </td>
            </tr>

    </tbody>
</table>