<!---the model that the view is receiving data from-->
@model IEnumerable<TestTickets2.Models.TicketModel>

@{
    ViewData["Title"] = "Tickets";
}

<table class="table">
    <thead>
        <tr>
            <th>
                ID <!---DisplayNAMEFor displays the column name-->
            </th>
            <th>
                Subject
            </th>
            <th>
                Description
            </th>
            <th>
                Owner
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        { //loop around the items in Model, which is a list sent from the model (see top of this file)
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)    <!---DisplayFOR displays the column contents-->
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Owner)
                </td>
            </tr>
        }
    </tbody>
</table>
